<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flow Shop</title>

    <link rel="icon" href="favicon/favicon.ico" />
    <link rel="apple-touch-icon" href="favicon/logo192.png" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta
      name="description"
      content=" An inventory management app for a fictional store called FlowShop."
    />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="/scripts/bootstrap.js" defer></script>
    
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />

  </head>
  <body>

    <header>
      <nav class="logo">
        <a href="./">FLOW SHOP</a>
      </nav>
      <nav>
              <a href="./categories">CATEGORIES</a>
              <a href="./items">ITEMS</a>
      </nav>
  </header>

  <div id="carousel" class="carousel slide main" data-bs-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item main active">
        <div class="carousel-content">
          <span class="title">CATEGORIES</span>
          <span class="sub"><%= data.categoryCount %> categories</span>
          <span class="desc">Browse our product's categories. We have clothing, digital albums and much more.</span>
          <a class="browse-btn" href="./categories">BROWSE</a>
        </div>
      </div>
      <div class="carousel-item main">
        <div class="carousel-content">
          <span class="title">ITEMS</span>
          <span class="sub"><%= data.itemCount %> items</span>
          <span class="desc">Browse our products. We have many digital albums, t-shirts, beanies and much more.</span>
          <a class="browse-btn" href="./items">BROWSE</a>
          </div>
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  </body>
</html>
