body {
    padding: calc(60px + 10%) 10% 10% 10%;
    background-color: black;
    color: white;
    font-family: var(--vato);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    text-align: center;
    min-height: 100vh;
}

h1 {
    letter-spacing: 4px;
    font-size: calc(2em + 0.5vw);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: white;
    color: black;
    border: 1px solid rgb(185, 185, 185);
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    cursor: pointer;
}

ul li:hover {
    background-color: rgb(186, 186, 186);
}

.cat-name {
    font-size: calc(1em + 0.5vw);
}

.cat-desc {
    display: block;
    font-size: calc(0.75em + 0.5vw);
    color: rgb(93, 93, 93);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}

.new {
    background-color: black;
    border: none;
    color: white !important;
    cursor: pointer;
    font-family: var(--vato);
    margin: 0 4px;
    opacity: .8;
    padding: 12px 24px;
}

.new:hover {
    opacity: 1;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}
