
header {
    background-color: black;
    min-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1em;
    color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    z-index: 2;
    font-family: var(--vato);
}

header .logo {
    font-family: var(--sed);
}

header nav {
    display: flex;
    flex-direction: column;
}

header a {
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
}

header a:hover {
    background-color: rgb(127, 127, 127);
}

header a:link, header a:visited, header a:active {
    text-decoration: none;
    color: white;
}

main {
    min-height: 100vh;
    width: 100%;
    padding: 90px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

main h1 {
    font-family: var(--vato);
    font-size: 2em;
    text-align: center;
}

main p {
    font-family: var(--vato);
    font-size: 1em;
    text-align: center;
}

@media only screen and (min-width: 425px) {
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header nav {
        min-height: 60px;
        flex-direction: row;
    }

    header a {
        display: flex;
        justify-content: center;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
    }

}