@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sedgwick+Ave&display=swap');

:root {
  --vato: 'Lato', sans-serif;
  --sed: 'Sedgwick Ave', cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
