body {
    padding: calc(60px + 10%) 10% 10% 10%;
    color: black;
    font-family: var(--vato);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-family: var(--vato);
    margin: 0 4px;
    opacity: .8;
    padding: 12px 24px;
    background-color: red; 
}

button:hover {
    opacity: 1;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}

h1 {
    letter-spacing: 4px;
    font-size: calc(2em + 0.5vw);
}

.alert {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}